main {
    background:rgb(255,255,255); 
    /* box-shadow: 0 0 20px rgb(0, 0, 0); */
    border-color: grey;
    border-style: solid;
    line-height: 1.5;
    max-width: 1000px;
    margin-top: 100px;
    margin-left: 350px;
}

header {
    height: 50px;
    background: grey;
}

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin:0px;
    font-size:40px;
}

.content {
    margin: 75px;
}

.input-voter {
    font-size: 20px;
    width:80%;
}

.input-candidate {
    font-size: 50px; 
    width:60px;
}

button {
    font-size: 20px;
}

.candidate {
    font-size:30px;
}

.party {
    font-size:15px;
}
